.sales-card{
    background-color: #131F19;
    border-radius: 10px;
    padding-top: 20px;
    padding-inline: 32px;
}
.sales-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.sales-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sales-head div{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}
.sales-head div h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-right: 10px;
}
.form-control{
    background: #1B2531;
    width: 200px;
    height: 30px;
    border: 1px solid #384459;
    border-radius: 5px;
    margin: auto;
}
#result{
    display: flex;
    justify-content: center;
    background: #1B2531;
    width: 150px;
    height: 30px;
    border: 1px solid #384459;
    border-radius: 5px;
    margin: auto;
}
.sales-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.sales-table tbody{
    text-align: center;
}

.sales-table tbody tr{
    height: 74px;
    border-top: 1px solid white ;
}
.sales-table tbody tr:hover > td{
    background-color: #4f7262;
}
.sales-table tbody tr:nth-child(odd){
    background-color: #182720;
}
