.button-venda{
    display: flex;
    flex-direction: row;
    width: 166px;
    height: 62px;
    color: #00A85B;
    background: #D9D9D9;
    border: 2px solid #00A85B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom :28px;
    cursor: pointer;
}
