.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}
.buttons-container img{
    width: 32px;
    height: 32px;
}
.buttons-container div{
    justify-content: center;
    align-items: center;
}
.buttons-container h2{
    margin-inline: 10px;
}